
#all_main {
   width: 97%;
   height: 100%;
    display:inline-flex;
    position: relative;
    
}
#main{
   
    width: 100%;
    height: 94%;
    display: grid;
    grid-template-rows: 5% 15% auto;
    position:relative;
    border: 1px solid rgb(17, 16, 16);
    box-shadow: 0px 0px 20px rgb(71, 70, 70);
    padding: 1%;
    left: 1.5%;
    border-radius: 1.5%;
    background-color: white;
   
  
}

.main_contents{
    position: relative;
    left: 1%;
    width: 95%;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    column-gap: 2%;
    
    
}
.main_contents div
{
    width: 90%;
    height: 40%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(219, 216, 216);
    background-color: rgb(226, 233, 233);
    position: relative;

}
.main_contents p{
    font-size: 150%;
    position: relative;
    left: 10%;
}
.main_contents>div>p:nth-child(odd){
    color: rgb(41, 14, 92);
    display: inline-flex;
 
}
.main_contents>div>p:nth-child(even){
    font-size: 250%;
    text-shadow: 2px 2px 2px rgb(247, 146, 146);
    
 
}
.main_contents>div>p:nth-child(odd)>i{
    color: hsl(248, 98%, 51%);
    position: relative;
   width: 30%;
   height: 30%;
  background-size: cover;
   left: 10%;
}
/* Menu button*/
#menu_button div {
    width: 25px;
    height: 3px;
    background-color: rgb(106, 103, 103);
    margin: 6px 0;

  }
 

#menu_button{
    border: none;
    outline: none;
    border-radius: 10px;
    
  }
#menu{
    position: relative;
    left: 1%;
    top: 1%;  
}
#menu1{
    position: relative;
    left: 1%;
    top: 1.5%;  
}
.heading{
    position: relative;
    left: 1%;
    width: 95%;
    height: 60%;
    font-size: 28px;
    font-weight: bold;
}


/* side bar*/

#sideBar{
    width: 15%;
    height: 98%;
    display: none;
    background-color: #222e3c;
    color: white;
}
#sideBar p{
    
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.link_tag a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    
   
    
}
.link_tag{
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    
  
}
.sideBar_close{
    width: 30%;
    margin-left: 20px;
    border: none;
    background-color: white;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 3%;
}

.sideBar_close:hover{
    background-color: red;
}
.link_tag:hover{
    background-color:rgb(146, 143, 143);
    color: black;
}
.link_tag>a:hover{
    color: black;
}


/* Product Page*/


#main_Product{
    width: 100%;
    height: 94%;
    display: block;
    opacity: 1;
    position: relative;
    left: 1.5%;
    border: 1px solid rgb(17, 16, 16);
    box-shadow: 0px 0px 20px rgb(71, 70, 70);
    padding: 1%;
    border-radius: 1.5%;
    
}

#add_product{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}
#head_name{
    margin-left: 1.5%;

}
#add{
    position: absolute;
    right: 2%;
    top: 5%;
    width: 15%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: 80%;
}

/* serach */
#search_all{
    width: 100%;
    height: 8%;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    

}
#search{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: inline-flex;
   
}
#search input{
    width: 65%;
    height: 60%;
    background-color: rgb(237, 240, 242);
    border-radius: 8px 0 0 8px;
    border: none;
    margin-left: 1.5%;
   
}
#search_submit{
    width: 10%;
    height: 60%;
    background-color: rgb(164, 167, 169);
    border-radius: 0 10px 10px 0px;
    border: none;
  
}
#search_submit i{
    width: 60%;
    height: 60%;
    
}
#selectButton{
position: relative;
display: inline-block;
}



#selectButton select{
    position: absolute;
    top: 0%;
    left: 66%;
    width: 30%;
    height: 60%;
    border-radius: 10px;
    font-size: 90%;
    border: 1px solid black;
    outline: none;
    
}
#selectButton option{
    text-align: center;
}
textarea{
    overflow: hidden;
    text-overflow: ellipsis;
}



/*Table */
#table_area{
    position: relative;
    width: 100%;
    height: 70%;
    overflow: auto;
}

.table_main th{
    /* border-bottom: 1px solid whitesmoke;
    box-shadow: 6px 6px 10px rgb(230, 229, 229); */
    border-collapse: collapse;
    /* padding:5px; */
    height: 100%;
    border: 1px solid black;
    background-color: rgb(83, 81, 81);
    color: white;
    font-size:18px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    
}
.table_main td{
    height: 12%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 16px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px; 
} 

.table_main{
    width: 98%;
    position: relative;
    left: 1%;
    top: 2%;
    margin-top: 2%;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    table-layout: fixed;
    
}
.table_main i{
    color: blue;
    width: 100%;
    height: 100%;
    
}

.table_main button{
    width: 20%;
    height: 80%;
    background-size: cover;
    border: none;
    
}
.table_main tr:nth-child(even){
    background-color: rgb(245, 242, 242);
}

#all_main{
    /* background-color: rgb(241, 233, 248); */
    
}


/* form */
#form_page,#form_page_edit,#form_page_view{
    
    width: 40%;
    height: 90%;
    background-color: white;
    padding-top: -10px;
    padding-bottom: 12px;
    margin: auto;
    border-radius: 4%;
    position: absolute;
    top: 10px;
    right: -700px;
    display: none;
    z-index: 9999;
    
}
.div1{
    position: relative;
    width: 100%;
    height: 10%;
    margin-top: -15px;
    border-bottom: 2px solid black;
    
    
}
.div1 p{
    font-size: 24px;
    margin-left: 20px;
   padding-top: 20px;
    
}
.div1 button{
    float: right;
    margin-top: -50px;
    margin-right: 30px;
    height: 40%;
    width: 7%;
    border: none;
    box-shadow: 4px 4px 2px rgb(240, 224, 224);;
    cursor: pointer;
    
}
.div2,.div2,.div3,.div4,.div5,.div6,.div7,.div8{
    position: relative;
    width: 100%-20px;
    height: 10%;
    margin: 10px;
}
.div2,.div4,.div6,.div7,.div8{
    width: 100%-20px;
    display: grid;
    grid-template-columns: auto auto;
}
.div2 input{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 5px 5px 2px rgb(240, 224, 224);
}
.div3 textarea {
    width: 95%;
    height: 60%;
    overflow: hidden;
    resize: none;
    padding-left: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 2px rgb(240, 224, 224);
}
.div4 input{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 5px 5px 2px rgb(240, 224, 224);
}
.div5 input{
    width: 95%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 5px 5px 2px rgb(240, 224, 224);
}
.div6 input{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 5px 5px 2px rgb(240, 224, 224);
}
.div7 input{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 5px 5px 2px rgb(240, 224, 224);
}
.div8 input{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 5px 5px 2px rgb(240, 224, 224);
}

.div9{
    width: 100%;
}
.div9 input{
    width: 25%;
    height: 5%;
   margin-left: 15%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

/* delete window */
#delete_window_main{
    width: 30%;
    height: 20%;
   background-color: none;
    position: absolute;
    top: 35%;
    left: 35%;
    display:none;
    border-radius: 20px;
   
}

#delete_window{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 2%;
    position: absolute;
    border:none;
    display: grid;
    grid-template-columns: 65% 35%;
    border-radius: 20px;
    z-index: 1;

}
#delete_window p:first-child{
    font-size: 28px;
    color: red;
}

#delete_window p:last-child{
    font-size: 16px;
    color: black;
}
#delete_window div:first-child{
    background-color: white;
}


#delete_window div:last-child{
    background-color:white;
    position: relative;
}
#delete_window div:last-child button:first-child{
    background-color: black;
    color: white;
    position: absolute;
    top: 55%;
    left: 10%;
    width: 35%;
    height: 20%;
    border: none;
    border-radius: 5px;
    
}
#delete_window div:last-child button:last-child{
    background-color:red;
    color: white;
    border-radius: 1%;
    position: absolute;
    top: 55%;
    right: 10%;
    width: 35%;
    height: 20%;
    border: none;
    border-radius: 5px;
}

/* masking window */

#mask_window{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:black;
    display: none;
    opacity: 0.3;
}

 @media screen and (max-width :920px) {

    .main_contents>div>p:nth-child(odd)>i{
    color: hsl(248, 98%, 51%);
    position: relative;
   width: 15%;
   height: 15%;
  background-size: cover;
   left: 10%;
 }
.main_contents p{
    font-size: 100%;
    position: relative;
    left: 10%;
 }

 .table_main i{
    color: blue;
    font-size: 10px;
    
}
} 

#tooltip{
    white-space:break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px;
    border-style: solid;
    width: 120px; 
    
}
/* #tooltip:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
    background-color: blue;
} */



footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 15%;
    
    
}
.social-links {
    width: 100%;
    height: 10%;
    background-color: #222e3c;
    position: relative;
    top: 61%;
    padding-top: 10%;
}

.social-links a {
    margin-top: 20%;
  margin-left: 10%;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.social-links a:hover {
    color: #ddd;
}