.main_contents div
{
    width: 90%;
    height: 10%;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(219, 216, 216);
    padding-left: 5px;
    background-color: rgb(226, 233, 233);

}
.main_contents{
    width: 100%;
    margin-left: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 15px;
}
.main_contents>div>p:nth-child(odd){
    padding-left: 15px;
    font-size: 20px;
    color: rgb(6, 6, 18);
}
.main_contents>div>p:nth-child(even){
    padding-left: 15px;
    font-size: 42px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px  5px rgb(90, 12, 25);
}
.main_contents i{
    color: rgb(12, 189, 118);
   font-size: 25px;
   margin-left: 40px;
}
/* Menu button*/
#menu_button div {
    width: 25px;
    height: 3px;
    background-color: rgb(106, 103, 103);
    margin: 6px 0;

  }

  #menu_button{
    border: none;
    outline: none;
    border-radius: 10px;
    
  }
.menu{
    
}


/* side bar*/

#sideBar{
    width: 15%;
    height: 100%;
    display: none;
    background-color: #222e3c;
    color: white;
}
#sideBar p{
    
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.link_tag a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    
   
    
}
.link_tag{
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    
  
}
.sideBar_close{
    width: 30%;
    margin-left: 20px;
    border: none;
    background-color: white;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 3%;
}
#main{
   
    width: 80%;
    height: 100%;
    display: block;
  
}
#all_main {
   width: 100%;
   height: 100%;
    display:inline-flex;
    position: relative;
    
    
}
.sideBar_close:hover{
    background-color: red;
}
.link_tag:hover{
    background-color:rgb(146, 143, 143);
    color: black;
}
.link_tag>a:hover{
    color: black;
}


/* Product Page*/


#main_Product{
    width: 80%;
    height: 100%;
    display: block;
    opacity: 1;
    
}

#add_product{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
  
    
}
#head_name{

}
#add{
    position: absolute;
    right: 50px;
    top: 20px;
    width: 15%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
}

/* serach */
#search_all{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    margin-left: 50px;

}
#search{
    width: 100%;
    height: 100%;
}
#search input{
    width: 60%;
    height: 60%;
    background-color: rgb(237, 240, 242);
    border-radius: 10px;
    border: none;
}
#search_submit{
    width: 10%;
    height: 55%;
    margin-left: -10.8%;
    margin-top:1px;
    background-color: rgb(186, 185, 184);
    border-radius: 10px;
    border: none;
}
#selectButton select{
    position: absolute;
    right: 100px;
    top: 10px;
    width: 15%;
    height: 50%;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}
#selectButton option{
    text-align: center;
}



/*Table */
.table_main th{
    border-bottom: 1px solid whitesmoke;
    box-shadow: 6px 6px 10px rgb(230, 229, 229);
    border-collapse: collapse;
    padding:5px;
    height: 25px;
}
.table_main td{
    height: 20px;
    padding: 5px;
    text-align: center;
}
.table_main{
    width: 100%;
    position: relative;
    top: 5%;
    margin-left:12%;
    margin-top: 50px;
    
}
.table_main i{
    color: blue;
}
.table_main tr:nth-child(even){
    background-color: rgb(245, 242, 242);
}

#all_main{
    
    
}


/* form */
#form_page,#form_page_edit,#form_page_view{
    
    width: 40%;
    height: 90%;
    background-color: rgb(244, 244, 241);
    padding-top: 10px;
    margin: auto;
    border-radius: 4%;
    position: absolute;
    right: -700px;
    display: none;
    opacity: 1;
    
}
.div1{
    position: relative;
    width: 100%;
    height: 10%;
    margin-top: -15px;
    border-bottom: 2px solid black;
    
    
}
.div1 p{
    font-size: 24px;
    margin-left: 20px;
   padding-top: 20px;
    
}
.div1 button{
    float: right;
    margin-top: -50px;
    margin-right: 60px;
    height: 40%;
    width: 7%;
    border: none;
    box-shadow: 4px 4px 2px rgb(240, 224, 224);
    cursor: pointer;
    
}
.div2,.div2,.div3,.div4,.div5,.div6,.div7,.div8{
    position: relative;
    width: 100%-20px;
    height: 10%;
    margin: 10px;
}
.div2,.div4,.div6,.div7,.div8{
    width: 100%-20px;
    display: grid;
    grid-template-columns: auto auto;
}
.div2 input{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 7px 7px 2px rgb(240, 224, 224);
}
.div3 textarea {
    width: 95%;
    height: 60%;
    overflow: hidden;
    resize: none;
    padding-left: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 7px 7px 2px rgb(240, 224, 224);
}
.div4 input{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 7px 7px 2px rgb(240, 224, 224);
}
.div5 input{
    width: 95%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 7px 7px 2px rgb(240, 224, 224);
}
.div6 input{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 7px 7px 2px rgb(240, 224, 224);
}
.div7 input{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 7px 7px 2px rgb(240, 224, 224);
}
.div8 input{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 7px 7px 2px rgb(240, 224, 224);
}
.div8{
    
}
.div9{
    width: 100%;
}
.div9 input{
    width: 25%;
    height: 5%;
   margin-left: 15%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}



